body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-top: 40px;
    line-height: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 40px;
}
h1 {
    color: #11B674;
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.main-top-margin {
    margin-top: 75px;
}
.main-low-margin {
    margin-top: 55px;
}
a, a:hover {
    text-decoration: none;
}
p {
    line-height: 30px;
    margin-bottom: 23px;
}
.img-margin-product {
    margin-top: 30px;
}
.bottam-pad {
    padding-bottom: 40px;
}
.text-justify {
    text-align: justify;
}

/* ==========================================================================
   COLOR CODES
   ========================================================================== */

.color-red {
    color: #ff0000;
}
.color-green {
    color: #07BB00;
}
.color-light-blue {
    color: #BB00BB;
}
.color-blue {
    color: #0052FF;
}
.color-brown {
    color: #EB8F2D;
}
.color-black {
    color: #000000;
}

/* ==========================================================================
   HEADER SECTION
   ========================================================================== */

#header-section {
    background: url(../img/header.png) no-repeat center top;
    margin-top: -20px;
    padding-top: 20px;
    text-align: center;
    background-position: center center;
    min-height: 600px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header-section h1 {
    text-shadow: 2px 2px black;
    margin-top: 180px;
    color: white;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 70px;
}
#header-section h3 {
    color: white;
    text-shadow: 1px 1px black;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 4px;
}

/* ==========================================================================
   ABOUT SECTION
   ========================================================================== */

#about-section {
    background-color: #FAFAFA;
}

/*==========================================
   SOCIAL ICON STYLES
    =====================================================*/

.color-facebook {
    color: #3B5998;
}
.color-twitter {
    color: #00aced;
}
.color-google-plus {
    color: #dd4b39;
}
.color-linkedin {
    color: #007bb6;
}
.color-pinterest {
    color: #cb2027;
}

/* ===========================================================
   BOOTSTRAP ELEMENTS CHANGES
   ============================================================*/

.navbar {
    font-size: 14px;
}
.navbar-inverse {
    background: #055969;
    border-color: #055969;
}
.navbar-inverse .navbar-nav> .active> a {
    background: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-weight: bolder;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
}
.navbar-inverse:hover .navbar-brand:hover {
    color: #ffffff;
}
.navbar-inverse .navbar-nav> li> a {
    color: #FFFFFF;
}

/* ==========================================================================
   CONTACT SECTION
   ========================================================================== */

#contact-section {
    background-color: #FAFAFA;
}

/* ==========================================================================
   FOOTER SECTION
   ========================================================================== */

#footer {
    background-color: #2F11C4;
    color: #fff;
    text-align: right;
    padding: 10px 30px 10px 30px;
}
#header-section {
    color: #FFFFFF;
}
